body{
    font-family: 'Montserrat', sans-serif;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    
}
.half-width img{
    width: 60%;
    
   
}
.orange-color{
    color: orange;
}
